In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import ipywidgets as widgets
from IPython.display import display
from ipywidgets import interact
import plotly.express as px
import dataprep

In [2]:
df = pd.read_html('https://www.numbeo.com/quality-of-life/rankings_current.jsp')
df = df[1]
df.Rank = df.index

# Separa antes e depois da vírgula (em cada ítem)

name_city = []
country = []
for i in df.City:
    cont = 0
    cidade = ''
    for j in i:
        if j == ',':
            break
        cidade += j
        cont += 1
    name_city.append(cidade)
    
    cont2 = 0
    pais = ''
    for j in i:
        if cont2 > cont:
            pais += j
        cont2 += 1
    country.append(pais)
    
# Tira parênteses dos nomes das listas
name_city2 = []
for i in name_city:
    cidade = ''
    for j in i:
        if j == '(':
            break
        cidade += j
    name_city2.append(cidade)
    
# Separa Nome Paises do estado (UF's) 

estado = []
country2 = []
for i in country:
    if ( (',' in i) == False ):
        country2.append(i)
        estado.append('0')
    else:
        cont = 0
        cidade = ''
        for j in i:
            if j == ',':
                break
            cidade += j
            cont += 1
        estado.append(cidade)

        cont2 = 0
        pais = ''
        for j in i:
            if (cont2 > cont) :
                pais += j
            cont2 += 1
        country2.append(pais)
        
# Tira espaços em branco (no ínicio das strings)
country3 = []
estado2 = []
for i in country2:
    country3.append(i[1:])
for i in estado:
    if ('0' in i) == False:
        estado2.append(i[1:])
    else:
        estado2.append(i)
    
df['City_Name'] = name_city2
df['Country_Name'] = country3
df['UF'] = estado2

In [3]:
df

,Rank,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index,City_Name,Country_Name,UF
0,0,"Canberra, Australia",226.52,147.97,77.78,81.99,65.32,4.12,24.34,13.66,82.72,Canberra,Australia,0
1,1,"The Hague (Den Haag), Netherlands",216.97,127.95,79.02,80.93,60.75,5.95,23.04,19.13,90.61,The Hague,Netherlands,0
2,2,"Adelaide, Australia",213.63,125.82,69.45,80.88,71.17,3.48,24.33,18.99,94.96,Adelaide,Australia,0
3,3,"Raleigh, NC, United States",208.07,142.53,64.74,77.62,65.19,3.26,33.60,20.62,83.88,Raleigh,United States,NC
4,4,"Eindhoven, Netherlands",202.88,112.96,76.58,76.39,68.57,5.83,24.44,22.07,85.38,Eindhoven,Netherlands,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,234,"Beirut, Lebanon",61.69,11.35,53.59,65.15,84.09,36.49,39.82,93.72,94.74,Beirut,Lebanon,0
235,235,"Tehran, Iran",60.13,17.38,44.14,52.50,33.43,29.75,52.91,81.01,70.99,Tehran,Iran,0
236,236,"Dhaka, Bangladesh",57.02,25.02,36.51,39.84,31.36,15.23,60.41,93.56,71.29,Dhaka,Bangladesh,0
237,237,"Manila, Philippines",48.58,25.96,34.56,63.71,35.80,34.63,53.64,89.92,61.23,Manila,Philippines,0
238,238,"Lagos, Nigeria",48.49,7.68,33.09,45.94,38.76,12.26,68.22,89.26,60.75,Lagos,Nigeria,0

# Classificando MacroRegiões

In [4]:
# Separando dataframes pelos links
df_aux = pd.read_html('https://www.numbeo.com/quality-of-life/region_rankings.jsp?title=2022-mid&region=002')
df_aux = df_aux[1]
df_africa = df[df.City.isin(df_aux.City)]

df_aux = pd.read_html('https://www.numbeo.com/quality-of-life/region_rankings.jsp?title=2022-mid&region=019')
df_aux = df_aux[1]
df_america = df[df.City.isin(df_aux.City)]

df_aux = pd.read_html('https://www.numbeo.com/quality-of-life/region_rankings.jsp?title=2022-mid&region=142')
df_aux = df_aux[1]
df_asia = df[df.City.isin(df_aux.City)]

df_aux = pd.read_html('https://www.numbeo.com/quality-of-life/region_rankings.jsp?title=2022-mid&region=150')
df_aux = df_aux[1]
df_europa = df[df.City.isin(df_aux.City)]

df_aux = pd.read_html('https://www.numbeo.com/quality-of-life/region_rankings.jsp?title=2022-mid&region=009')
df_aux = df_aux[1]
df_oceania = df[df.City.isin(df_aux.City)]


# Mapeando Paises por Macro Regiões:
Macro_Regiao = list(range(0,df.shape[0]))

for i in df[df.City.isin(df_africa.City)].index:
    Macro_Regiao[i] = 'Africa'
    
for i in df[df.City.isin(df_america.City)].index:
    Macro_Regiao[i] = 'America'
    
for i in df[df.City.isin(df_asia.City)].index:
    Macro_Regiao[i] = 'Asia'
    
for i in df[df.City.isin(df_europa.City)].index:
    Macro_Regiao[i] = 'Europa'
    
for i in df[df.City.isin(df_oceania.City)].index:
    Macro_Regiao[i] = 'Oceania'
    
# Faltou 3 países (tive que classificar na mão):
# --> indice(4): Trondheim, Norway
# --> indice(44): Cambridge, United Kingdom
# --> indice(93): Qingdao, Shandong, China

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/usr/lib/python3.10/urllib/request.py", line 1348, in do_open
    h.request(req.get_method(), req.selector, req.data, headers,
  File "/usr/lib/python3.10/http/client.py", line 1282, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/usr/lib/python3.10/http/client.py", line 1328, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/usr/lib/python3.10/http/client.py", line 1277, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/usr/lib/python3.10/http/client.py", line 1037, in _send_output
    self.send(msg)
  File "/usr/lib/python3.10/http/client.py", line 975, in send
    self.connect()
  File "/usr/lib/python3.10/http/client.py", line 1447, in connect
    super().connect()
  File "/usr/lib/python3.10/http/client.py", line 941, in connect
    self.sock = self._create_connection(
  File "/usr/lib/python3.10/socket.py", line 845, in create_connection
    raise err
  File "/usr/lib/python3.10/socket.py", line 833, in create_connection
    sock.connect(sa)
TimeoutError: [Errno 110] Connection timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3378, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_7810/233194739.py", line 6, in <module>
    df_aux = pd.read_html('https://www.numbeo.com/quality-of-life/region_rankings.jsp?title=2022-mid&region=019')
  File "/usr/lib/python3.10/site-packages/pandas/util/_decorators.py", line 311, in wrapper
    return func(*args, **kwargs)
  File "/usr/lib/python3.10/site-packages/pandas/io/html.py", line 1113, in read_html
    return _parse(
  File "/usr/lib/python3.10/site-packages/pandas/io/html.py", line 919, in _parse
    tables = p.parse_tables()
  File "/usr/lib/python3.10/site-packages/pandas/io/html.py", line 239, in parse_tables
    tables = self._parse_tables(self._build_doc(), self.match, self.attrs)
  File "/usr/lib/python3.10/site-packages/pandas/io/html.py", line 758, in _build_doc
    raise e
  File "/usr/lib/python3.10/site-packages/pandas/io/html.py", line 739, in _build_doc
    with urlopen(self.io) as f:
  File "/usr/lib/python3.10/site-packages/pandas/io/common.py", line 236, in urlopen
    return urllib.request.urlopen(*args, **kwargs)
  File "/usr/lib/python3.10/urllib/request.py", line 216, in urlopen
    return opener.open(url, data, timeout)
  File "/usr/lib/python3.10/urllib/request.py", line 519, in open
    response = self._open(req, data)
  File "/usr/lib/python3.10/urllib/request.py", line 536, in _open
    result = self._call_chain(self.handle_open, protocol, protocol +
  File "/usr/lib/python3.10/urllib/request.py", line 496, in _call_chain
    result = func(*args)
  File "/usr/lib/python3.10/urllib/request.py", line 1391, in https_open
    return self.do_open(http.client.HTTPSConnection, req,
  File "/usr/lib/python3.10/urllib/request.py", line 1351, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error [Errno 110] Connection timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 1997, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/usr/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1112, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/usr/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1006, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/usr/lib/python3.10/site-packages/IPython/core/ultratb.py", line 859, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/usr/lib/python3.10/site-packages/IPython/core/ultratb.py", line 812, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "/usr/lib/python3.10/site-packages/IPython/core/ultratb.py", line 730, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "/usr/lib/python3.10/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/usr/lib/python3.10/site-packages/stack_data/core.py", line 720, in lines
    pieces = self.included_pieces
  File "/usr/lib/python3.10/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/usr/lib/python3.10/site-packages/stack_data/core.py", line 663, in included_pieces
    scope_pieces = self.scope_pieces
  File "/usr/lib/python3.10/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/usr/lib/python3.10/site-packages/stack_data/core.py", line 600, in scope_pieces
    scope_start, scope_end = self.source.line_range(self.scope)
  File "/usr/lib/python3.10/site-packages/stack_data/core.py", line 164, in line_range
    return line_range(self.asttext(), node)
AttributeError: 'Source' object has no attribute 'asttext'

In [ ]:
df['Macro_Regiao'] = Macro_Regiao

In [ ]:
df

### Salvando dataframe: df_QualidadeVida_Cidades

In [ ]:
df.to_csv('df_QualidadeVida_Cidades.csv', index=False)

# Baixando dados gráfico: Quality_Life x Size_City

In [ ]:
df_grafico = pd.read_csv('Population2022_data.csv', sep=';')
df_grafico.columns = ['City_Country', 'Country_Pop_2022', 'Growth',
       'Area_Pop', 'Area_Pop_(bin)', 'Area_Pop_Median', 'Area_Pop_Quartiles',
       'Name', 'Prev', 'Quality_Life', 'Rank', 'Tokyo']
df_grafico = df_grafico.drop(80)
df_grafico = df_grafico.drop(86)

In [ ]:
df_grafico.to_csv('df_grafico.csv', index=False)

In [ ]:
# Convete lista de string em float
def string_to_float(lista):
    quality = []
    for i in lista:
        if (type(i) == str) :
            indice = ''
            for j in i:
                if (j != ','):
                    indice += j
                else:
                    indice += '.'
            indice = float(indice)
            quality.append(indice)
        elif (type(i) == float):
            quality.append(i)
        else:
            quality.append(type(i))   
    return quality

# Convete lista de float em int
def float_to_int(lista):
    quality = []
    for i in lista:
        if (type(i) == int) :
            quality.append(int(i))
        else:
            quality.append(type(i))   
    return quality

In [ ]:
df_grafico.Quality_Life = string_to_float(df_grafico.Quality_Life)
df_grafico.Growth = string_to_float(df_grafico.Growth)
df_grafico.Area_Pop = float_to_int(df_grafico.Area_Pop)

In [ ]:
df_grafico.head(5)

## Plotando gráfico: Fit log_x

In [ ]:
fig = px.scatter(df_grafico, x="Area_Pop", y="Quality_Life", marginal_x="box", marginal_y="box", 
                 trendline="ols", trendline_options=dict(log_x=True), trendline_color_override="red",
                 template="simple_white", hover_name='City_Country', size='Area_Pop',
                 height=500)
fig.show()

### -------------------------------------------------------------------------------------------------------------------------------------------------

## Testando df_grafico em df

In [ ]:
df_grafico2 = df[ df.City_Name.isin( (df_grafico.Name) ) ]
df_grafico = df_grafico.sort_values('Quality_Life', ascending=False)

In [ ]:
df_grafico2.columns = ['Rank', 'City_Country', 'Quality_Life', 'Purchasing_Power',
       'Safety', 'Health_Care', 'Cost_Living',
       'Property_Price (Income_Ratio)', 'Traffic_Commute_Time',
       'Pollution', 'Climate', 'City_Name', 'Country_Name', 'UF',
       'Macro_Regiao']
df_grafico.columns = ['City_Country', 'Country_Name', 'Growth', 'Area_Pop',
       'Area_Pop_(bin)', 'Area_Pop_Median', 'Area_Pop_Quartiles', 'City_Name',
       'Prev', 'Quality_Life', 'Rank', 'Tokyo']

In [ ]:
df_grafico = df_grafico.reindex(columns = ['City_Country', 'Quality_Life', 'Growth',
                              'Area_Pop', 'Area_Pop_(bin)', 'Area_Pop_Median', 'Area_Pop_Quartiles', 
                               'Prev', 'Tokyo', 'Rank','City_Name', 'Country_Name'])
df_grafico2 = df_grafico2.reindex(columns=['City_Country', 'Quality_Life', 'Purchasing_Power',
                               'Safety', 'Health_Care', 'Cost_Living',
                               'Property_Price (Income_Ratio)', 'Traffic_Commute_Time',
                               'Pollution', 'Climate','Rank', 'City_Name', 'Country_Name', 'UF',
                               'Macro_Regiao'] )

In [ ]:
df_grafico = df_grafico.sort_values('City_Name',ascending=True)
df_grafico2 = df_grafico2.sort_values('City_Name',ascending=True)
df_grafico.index = list(range(0,df_grafico.shape[0]))
df_grafico2.index = list(range(0,df_grafico.shape[0]))

In [ ]:
# df_grafico2 = df_grafico2.drop(columns=['Area_Pop'], axis=1)

In [ ]:
df_grafico

In [ ]:
df_grafico2

# Analisando: df_QualityLife_x_SizeCity

In [ ]:
df_QualityLife_x_SizeCity = df_grafico2
df_QualityLife_x_SizeCity['Area_Pop'] = df_grafico.Area_Pop

In [ ]:
df_QualityLife_x_SizeCity

In [ ]:
fig = px.scatter(df_QualityLife_x_SizeCity, x="Area_Pop", y="Quality_Life", marginal_x="box", marginal_y="box", 
                 trendline="ols", trendline_options=dict(log_x=True),
                 template="simple_white", hover_name='City_Country', size='Area_Pop',
                 height=500, color='Macro_Regiao')
fig.show()

In [ ]:
df_QualityLife_x_SizeCity.head(1)

In [ ]:
data = df_QualityLife_x_SizeCity
display(pd.DataFrame(data.corr())[0:1])

sns.heatmap(data.corr(), vmin = -1, vmax = +1, annot = True, cmap = 'coolwarm')

In [ ]:
data = df_QualityLife_x_SizeCity
display(pd.DataFrame(data.corr())[0:1])

fig = px.scatter_matrix(data, height=800, hover_name=data.City_Country, color='Macro_Regiao',
            dimensions=['Quality_Life', 'Area_Pop', 'Pollution', 'Purchasing_Power',
                       'Health_Care','Traffic_Commute_Time'],
                       )
fig.show()

# Cidades do Brasil

In [ ]:
df_Internacional = pd.read_excel('REGIC2018_Internacional_Cidades.xlsx')

In [ ]:
df_Internacional

In [ ]:
df_Internacional[df_Internacional.classe == 'Internacional']

In [ ]:
df_Inter_ligada = pd.read_excel('REGIC2018_Internacional_Ligacoes.xlsx')

In [ ]:
df_Inter_ligada

In [ ]:
# Definindo dataframes

df_ArranjoPop = pd.read_excel('REGIC2018_Arranjos_Populacionais_v2.xlsx')
df_Br = pd.read_excel('REGIC2018_Cidades_v2.xlsx')
df_Br_Ligado = pd.read_excel('REGIC2018_Ligacoes_entre_Cidades.xlsx')
df_Matriz_liga_Cidades = pd.read_excel('REGIC2018_Matriz_de_Ligacoes.xlsx')

# Arranjo Populacional (AP)

In [ ]:
df_ArranjoPop

In [ ]:
df_ArranjoPop.columns = ['Codmun', 'Nome_Municipio', 'Codigo_AP',
       'Nome_Arranjo_Pop', 'Tipo_AP']

In [ ]:
df_ArranjoPop[df_ArranjoPop.Codigo_AP == 3500105]

In [ ]:
# df_ArranjoPop['Tipo de Arranjo Populacional'].unique()

In [ ]:
df_ArranjoPop.info()

In [ ]:
len(df_ArranjoPop.Codigo_AP.unique())

# Cidades do Brasil

In [ ]:
df_Br = pd.read_excel('REGIC2018_Cidades_v2.xlsx')
df_Br

In [ ]:
df_Br

# Cidades Brasil Ligadas

In [ ]:
df_Br_Ligado.columns

In [ ]:
df_Br_Ligado.nivel_ori.unique()

In [ ]:
df_Br_Ligado[df_Br_Ligado.nivel_ori == '1A']

In [ ]:
for i in df_Brasil.COD_CIDADE:
    if i not in list(df_Brasil_Ligado.cod_ori):
        print(i)

In [ ]:
len(df_Brasil_Ligado.cod_ori.unique())

# Matriz que liga cidades

In [ ]:
df_Matriz_liga_Cidades